.input {
  width: 100%;
  flex-grow: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  border: none;
}

img.-basic-search {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  object-fit: contain;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-frame-input {
  width: 100%;
  flex-grow: 0;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 30px;
  background-color: #fff;
  border: solid #e3e3e3 2px;
}

.search-input {
  align-self: stretch;
  flex-grow: 1;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}
