---
---

<div class="Search-Logo">
  <span class="NovelStatics">NovelStatics</span>
  <div class="search-frame-input">
    <div class="search-input">
      <input class="input" value="https://novelpia.com/novel/122140" />
    </div>
    <img src="/assets/search.svg" class="-basic-search" />
  </div>
</div>

<style>
  .input {
    width: 100%;
    flex-grow: 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    border: none;
  }

  img.-basic-search {
    width: 32px;
    height: 32px;
    flex-grow: 0;
    object-fit: contain;
  }

  .search-frame-input {
    width: 100%;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: #fff;
    border: solid #e3e3e3 2px;
  }

  .search-input {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .NovelStatics {
    flex-grow: 0;
    font-family: Inter;
    font-size: 72px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .Search-Logo {
    width: 732px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 10px;
  }
</style>
