---
import "../styles/global.css";

import type { NovelStatistics } from "../interfaces/novel.type";
import { ErrorToast } from "../components/ErrorToast";
import { ResultPage } from "../components/searchResult";

const { data, err, errText } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NovelStatic</title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <div class="box">
      {
        err ? (
          <ErrorToast client:load errText={errText} />
        ) : (
          <ResultPage client:load data={data} />
        )
      }
    </div>
  </body>
</html>
